

@{
    ViewData["Title"] = "Stock Info";
}

    <header>


        <!-- Project Scripts -->

        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/Stock/StockSearchManagment.js"></script>

        <!-- End Project Scripts -->

        <!--cdns for Datatables-->
        <link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <!--End cdns for Datatables-->




    </header>
    <body>

        <div class="col-md-12">
            <button class="btn btn-success" style="float:right;margin-bottom:10px;" onclick="StockSearchManagment.ShowAddStockUi();">Add New Item</button>
        </div>
        <div class="col-md-1">
           
            <!-- Search input to perform SQL Like query on all fields in table -->

            <input type="text" id="searchInput" oninput="searchFunction()" placeholder="Search for items......." />


        </div>

        <!-- Datatable Skeleton -->

        <table id="dataTable" class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ItemId</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>
        <br />
        <br />

        <!--Edit table row partial view-->

        <div class="modal fade" id="myModal" role="dialog">
            @{await Html.RenderPartialAsync("ModalAddEditStockPartialSearch", new Stock());}
        </div>

        <!-- Initialise Jquery datatable -->

        <script>

            var tble = $("#dataTable");

            //Call datatable funnction from projects main Javascript file. Pass the tble paramter to the datatable
            //function and also pass the SQL search query. 

            $(document).ready(function () {

                StockSearchManagment.GetStocksInfo(tble, document.getElementById("searchInput").value );
            });

            //Same function again but with setInterval set to 1.25 seconds for table auto refresh
            
            setInterval(function () {
                StockSearchManagment.GetStocksInfo(tble,  document.getElementById("searchInput").value );
            }, 1250);

        </script>

        <script>


           //searchFunction is called upon input on the search input that performs the SQL queries.

            function searchFunction() {

                StockSearchManagment.GetStocksInfo(tble,  document.getElementById("searchInput").value);
               
            }
        </script>

      


    </body>